.goal {
  min-height: 150px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  width: 80%;
  position: relative;
  user-select: none;
  background-color: rgb(94, 173, 219);
  box-shadow: 5px 5px 12px rgb(65, 132, 187);
  animation: task 2s ;
  h3 {
    height: 40px;
    white-space: break-spaces;
    font-family: sans-serif;
  }
  h1 {
    height: 40px;
    font-family: sans-serif;
    padding-top: 15px;
  }
  .x {
    background-color: darkred;
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 11.5px;
    font-weight: bold;
    height: 24px;
    transform: scale(1.4);
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
  .edit {
    position: absolute;
    top: 0;
    right: 45px;
    margin: 6px;
    background-color: transparent;
    border: none;
    background-color: rgb(119, 162, 241);
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
    width: 36px;
    height: 35px;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
}
@keyframes task {
  0% {
    background-color: rgb(190, 227, 248);
  }
  100% {
    background-color: rgb(94, 173, 219);
  }
}
.goalDrag {
  background-color: rgb(190, 227, 248) !important;
  box-shadow: 5px 5px 12px rgb(148, 187, 219)!important;
  animation: drag 3s;
}
@keyframes drag {
  0% {
    background-color: rgb(94, 173, 219) !important;
  }
  100% {
    background-color: rgb(190, 227, 248) !important;
  }
}

.user {
  text-align: right;
}

@media (max-width: 1430px) {
  h1 {
    font-size: 25px;
  }
}
