.goal {
  min-height: 150px;
  background-color: rgb(140, 215, 224);
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  width: 80%;
  position: relative;
  user-select: none;
  h3 {
    height: 40px;
    white-space:break-spaces;
    font-family:sans-serif ;
  }
  h1 {
    height: 40px;
    font-family:sans-serif;
    padding-top: 15px;
  }
  .x {
    background-color: darkred;
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 11.5px;
    font-weight: bold;
    height: 24px;
    transform: scale(1.4);
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
  .edit {
    position: absolute;
    top: 0;
    right: 45px;
    margin: 6px;
    background-color: transparent;
    border: none;
    background-color: rgb(119, 162, 241);
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
    width: 36px;
    height: 35px;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
}

@media (max-width:1430px){
  h1 {
    font-size: 25px;
  }
}
