.add {
  background-color: #4185b6;
  height: 25px;
  width: 28px;
  transform: scale(1.5);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  &:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
  }
}

.login {
  background-color: #b64141;
  height: 25px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  &:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
  }
}
