.add {
  background-color: #4185b6;
  height: 30px;
  transform: scale(1.1);
  width: 30px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border-radius: 8px;
  &:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
  }
}
