.main {
  width: 70%;
  display: flex;
  gap: 10px;
  justify-content: left;
  padding: 20px;
  margin: 0 auto;
  overflow-y: hidden;
}

@media (max-width: 600px) {
  .main {
    flex-wrap: wrap;
  }
}

