.search {
  background-color: #4185b6;
  border-radius: 10px;
  border: none;
  color: white;
  height: 30px;
  font-size: 18px;
  box-sizing: border-box;
  animation-duration: 1ms;
  &::placeholder {
    color: white;
    font-size: 18px;
    padding: 5px;
  }
  &:hover {
    background-color: rgb(61, 61, 61);
  }
  &:focus-visible {
    border: 2px solid white;
    outline: none;
    background-color: rgb(61, 61, 61);
    &::placeholder {
      color: transparent;
    }
  }
}
.searchForm {
  width: 150px;
}
